@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ededed;
  --color-accent: #00FFFF;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}